h1 {
  font-family: 'pacifico',cursive;
  width: 400px;
  height: 200px;
}
body {
  background-color: orange;

}
p {
  font-family: 'pacifico',cursive;
}

thead {
  background: #555;
}

td {
  padding: 20px;
  border: solid 2px black;
}



nothing for today, trying to catch up by completing Tuesday
